---
// @ts-ignore
import { ClipboardCopy } from "@astro-github-elements/clipboard-copy";
import { getCollection } from "astro:content";
import Navigation from "../../layouts/Navigation.astro";
import Head from "../../layouts/Head.astro";

export async function getStaticPaths() {
  return (await getCollection("blog")).map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const url = Astro.request.url;
---

<html lang="en">
  <head>
    <Head title="🦊 Anton Bashirov | Blog" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <Navigation page="blog" />
    <div class="divider"></div>
    <div class="prose max-w-none w-1/2 m-auto">
      <ClipboardCopy value={url}>
        <div class="inline-flex flex-row gap-2 items-center">
          <p class="text-5xl font-bold text-white">
            {post.data.title}
          </p>
          <span class="material-symbols-outlined text-3xl">content_copy</span>
        </div>
      </ClipboardCopy>
      <Content />
    </div>
  </body>
</html>
