.background-img {
  border-radius:50px;
  padding: 16px;
  &::after {
    border-radius:50px;
    position:absolute;
    top:0;left:0;
    z-index:-1;
    content:'';
    background:inherit;
    filter:blur(20px);
    transform:scale(1.8);
    opacity: 0.9;
    transition:500ms all ease-in-out 0ms;
  }
}