.button {
  @apply inline-block rounded bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 active:scale-100 m-4 hover:shadow-xl focus:outline-none  active:bg-indigo-500;
}

body {
  --red: #ff0055;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

.rectangle {
  width: 10vw;
  height: 10vw;
  display: block;
  background: lightsalmon;
  position: relative;
}