.tab-button {
  width: 300px;
  height: 300px;
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  
  @apply btn;

  &:hover {
    .wave {
      top: -220px;
    }
  }

  span {
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
  }

  .wave {
    width: 300px;
    height: 300px;
    background-color: black;
    position: absolute;
    left: 0;
    top: -120px;
    transition: 0.5s;

    &::before, &::after {
      width: 200%;
      height: 200%;
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-75%);
      }

    &::before {
      border-radius: 45%;
      animation: wave 5s linear infinite;
      background-color: black;
    }

    &::after {
      border-radius: 40%;
      background-color: white;
      animation: wave 10s linear infinite;
    }
  }
}

.tab-button-active {
  width: 300px;
  @apply btn;
  @apply btn-primary;
}

@keyframes wave {
  0% {
    transform: translate(-50%,-75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%,-75%) rotate(360deg);
  }
}
