---
import Head from "../layouts/Head.astro";
---

<html lang="en">
  <head><Head /></head>
  <body>
    <div class="flex h-screen w-screen">
      <img
        class="max-h-full max-w-full h-screen w-screen m-auto object-fill"
        src="/404.png"
      />
    </div>
  </body>
</html>
