---
import Head from "../layouts/Head.astro";
---

<html lang="en">
  <head><Head /></head>
  <body>
    <div class="flex h-screen">
      <img class="max-h-full w-screen m-auto" src="/404.png" />
    </div>
  </body>
</html>
