---
import { Article } from "../components/Blog";
import Head from "../layouts/Head.astro";
import Navigation from "../layouts/Navigation.astro";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
---

<html lang="en">
  <head>
    <Head title="🦊 Anton Bashirov | Blog" />
  </head>
  <body>
    <Navigation page="blog" />
    <div class="divider"></div>
    <div class="flex flex-col gap-4 p-4">
      {
        blogEntries.map((blogPostEntry) => (
          <Article reference={blogPostEntry.slug} />
        ))
      }
    </div>
  </body>
</html>
