---
import { ProjectCard } from "../components/Projects";
import Navigation from "../layouts/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>🦊 Anton Bashirov</title>
  </head>
  <body>
    <Navigation page="contact" />
  </body>
</html>
