---
import Head from "../layouts/Head.astro";
import Navigation from "../layouts/Navigation.astro";
---

<html lang="en">
  <head>
    <Head title="🦊 Anton Bashirov | Contact" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body>
    <Navigation page="contact" />
    <div class="flex place-items-center">
      <div class="flex place-items-center flex-1 px-8 py-4">
        <span
          class="material-symbols-outlined text-3xl drop-shadow-glow text-light-green-300"
          >contact_page</span
        >
        <p class="text-3xl font-bold px-4">Contact me</p>
        
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex flex-col m-auto max-w-none w-2/3 prose">
      <label class="form-control w-full max-w-none">
        <div class="label">
          <span class="label-text"><h3>What is your name ?</h3></span>
        </div>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered input-lg w-full max-w-none"
        />
      </label>

      <label class="form-control w-full max-w-none">
        <div class="label">
          <span class="label-text"><h3>What is your contact ?</h3></span>
        </div>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered input-lg w-full max-w-none"
        />
      </label>

      <label class="form-control w-full max-w-none">
        <div class="label">
          <span class="label-text"><h3>What is your case ?</h3></span>
        </div>
        <label class="label cursor-pointer">
          <span class="label-text text-sm">Hiring</span>
          <input type="radio" name="case" class="radio" checked />
        </label>
        <label class="label cursor-pointer">
          <span class="label-text text-sm">Chating</span>
          <input type="radio" name="case" class="radio" />
        </label>
        <label class="label cursor-pointer">
          <span class="label-text text-sm">Open-Source projects</span>
          <input type="radio" name="case" class="radio" />
        </label>
        <label class="label cursor-pointer">
          <span class="label-text text-sm">Technical question</span>
          <input type="radio" name="case" class="radio" />
        </label>
        <label class="label cursor-pointer">
          <span class="label-text text-sm">Other</span>
          <input type="radio" name="case" class="radio" />
        </label>
      </label>

      <label class="form-control w-full max-w-none">
        <div class="label">
          <span class="label-text"><h3>Describe your request</h3></span>
        </div>
        <textarea class="textarea textarea-bordered h-32" placeholder=""
        ></textarea>
      </label>

      <button class="btn my-8 btn-wide btn-lg">Submit</button>
    </div>
  </body>
</html>
