---
import Head from "../layouts/Head.astro";
import Navigation from "../layouts/Navigation.astro";
---

<html lang="en">
  <head>
    <Head title="🦊 Anton Bashirov | Contact" />
  </head>
  <body>
    <Navigation page="contact" />
  </body>
</html>
