---
import Head from "../layouts/Head.astro";
import Navigation from "../layouts/Navigation.astro";
import "../styles/global.css";
import "../styles/experience.css";
---

<html lang="en">
  <head>
    <Head title="🦊 Anton Bashirov | Experience" />
  </head>
  <body>
    <Navigation page="experience" />
    <img class="object-fill h-full w-full" src="/experience.jpeg" />
  </body>
</html>
