---
import Head from "../layouts/Head.astro";
import Navigation from "../layouts/Navigation.astro";
import '../styles/global.css';
---

<html lang="en">
  <head>
    <Head title="🦊 Anton Bashirov | Experience" />
  </head>
  <body>
    <Navigation page="experience" />
  </body>
</html>
