---
import { FoxAnimation } from "../components/Fox";
import { Technologies } from "../components/Technologies";
import Navigation from "../layouts/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>🦊 Anton Bashirov</title>
  </head>
  <body>
    <Navigation />
    <div class="flex place-content-center place-items-center">
      <FoxAnimation client:only />
      <article class="prose max-h-none max-w-none">
        <h2>👋 Greetings</h2>
        <h2>👤 Welcome to my personal site and blog</h2>
        <h2>🧑‍💻️ I am multifunctional software developer</h2>
        <h2>💻 Currently working with Dart, Flutter and C</h2>
      </article>
    </div>

    <div class="my-4">
      <Technologies
        slidesPerView={4}
        technologies={["Dart", "Java", "Kotlin", "Python", "TS", "JS", "C"]}
        spaceBetween={8}
        client:only="react"
      />
    </div>

    <div class="my-4">
      <Technologies
        slidesPerView={8}
        technologies={[
          "Flutter",
          "Linux",
          "IO Uring",
          "RSocket",
          "Groovy",
          "E2K",
          "React",
          "Astro",
          "Tailwind",
          "CMake",
          "Tailscale",
          "OKD",
          "Ansible",
          "Langchain",
          "Gradle",
        ]}
        spaceBetween={8}
        client:only="react"
      />
    </div>
  </body>
</html>
