---
import { FoxAnimation } from "../components/Fox";
import { Applications, Languages } from "../components/Technologies";
import Head from "../layouts/Head.astro";
import Navigation from "../layouts/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head><Head /></head>
  <body>
    <div
      class="flex flex-col justify-between overflow-y-hidden overflow-x-hidden"
    >
      <Navigation />
      <div class="flex place-content-center place-items-center m-4">
        <div
          class="hidden lg:flex flex-col place-content-center place-items-center"
        >
          <FoxAnimation client:only />
        </div>
        <div class="flex-col place-items-center">
          <article class="prose max-h-none max-w-none">
            <h1>👋 Greetings</h1>
            <h1 class="text-lg font-bold">🧙 My name is Anton Bashirov</h1>
            <h1 class="text-lg font-bold">
              👤 Welcome to my personal site and blog
            </h1>
            <h1 class="text-lg font-bold">
              🧑‍💻️ I am multifunctional software developer
            </h1>
            <h1 class="text-lg font-bold">
              💻 Currently working with Dart and C
            </h1>
          </article>
          <div class="hidden md:block p-4 lg:p-8">
            <script
              type="text/javascript"
              src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
              data-name="bmc-button"
              data-slug="antonbashir"
              data-color="#ffffff"
              data-emoji="🍵"
              data-font="Inter"
              data-text="Buy me a tea"
              data-outline-color="#000000"
              data-font-color="#000000"
              data-coffee-color="#FFDD00"></script>
          </div>
        </div>
      </div>
      <div class="flex flex-col py-8">
        <div>
          <Languages client:only="react" />
        </div>
        <div class="my-4">
          <Applications client:only="react" />
        </div>
      </div>
    </div>
  </body>
</html>
