---
import { FoxAnimation } from "../components/Fox";
import { Applications, Languages } from "../components/Technologies";
import Head from "../layouts/Head.astro";
import Navigation from "../layouts/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head><Head /></head>
  <body>
    <div
      class="min-h-screen flex flex-col justify-between overflow-y-hidden overflow-x-hidden"
    >
      <Navigation />
      <div class="flex place-content-center place-items-center m-4">
        <div class="flex flex-col place-content-center place-items-center">
          <FoxAnimation client:only />
          <div>
            <script
              type="text/javascript"
              src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
              data-name="bmc-button"
              data-slug="antonbashir"
              data-color="#ffffff"
              data-emoji="🍵"
              data-font="Inter"
              data-text="Buy me a tea"
              data-outline-color="#000000"
              data-font-color="#000000"
              data-coffee-color="#FFDD00"></script>
          </div>
        </div>
        <article class="prose max-h-none max-w-none">
          <h2>👋 Greetings</h2>
          <h2>🧙 My name is Anton Bashirov</h2>
          <h2>👤 Welcome to my personal site and blog</h2>
          <h2>🧑‍💻️ I am multifunctional software developer</h2>
          <h2>
            💻 Currently working with Dart, Flutter, Tarantool, Linux and C
          </h2>
        </article>
      </div>
      <div class="flex py-8 flex-col">
        <div>
          <Languages client:only="react" />
        </div>
        <div class="my-4">
          <Applications client:only="react" />
        </div>
      </div>
    </div>
  </body>
</html>
