---
import "../styles/index.css";
import Navigation from "../layouts/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Anton Bashirov</title>
  </head>
  <body>
    <Navigation />
    <div class="flex place-content-justify p-16">
      <article class="prose prose-zinc max-w-none">
        <h1>Greetings</h1>
        <h2>My is Anton Bashirov and this is my personal site and blog</h2>
      </article>
    </div>
  </body>
</html>
