---
import Card from "../components/Card.astro";
---

<h1 class="text-3xl font-bold underline">Hello world!</h1>

<div class="flex space-x-5">
  <Card title="test" href="github.com" body="body" />
  <Card title="test" href="github.com" body="body" />
  <Card title="test" href="github.com" body="body" />
  <Card title="test" href="github.com" body="body" />
  <Card title="test" href="github.com" body="body" />
</div>
