---
import { ProjectCard } from "../components/Projects";
import Navigation from "../layouts/Navigation.astro";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>🦊 Anton Bashirov | Projects</title>
  </head>
  <body>
    <Navigation page="projects" />
    <div class="flex place-items-center">
      <p class="text-3xl font-bold p-4">Check out my projects</p>
      <input
        type="text"
        placeholder="Search..."
        class="input input-bordered w-full max-w-xs"
      />
    </div>
    <div class="divider"></div>
    <div class="flex flex-col place-content-justify gap-2">
      <ProjectCard
        name="Dart Linux Interactor"
        description="Dart ❤️ Linux"
        documentation="https://antonbashir.github.io/dart-linux-interactor/"
        code="https://github.com/antonbashir/dart-linux-interactor/"
      />
    </div>
  </body>
</html>
