---
import { ProjectCard } from "../components/Projects";
import Navigation from "../layouts/Navigation.astro";
import Head from "../layouts/Head.astro";
---

<html lang="en">
  <head>
    <Head title="🦊 Anton Bashirov | Projects" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <Navigation page="projects" />
    <div class="flex place-items-center">
      <div class="flex place-items-center flex-1 px-8 py-4">
        <span
          class="material-symbols-outlined text-3xl drop-shadow-glow text-yellow-100"
          >lightbulb</span
        >
        <p class="text-3xl font-bold px-4">Check out my projects</p>
      </div>
      <input
        type="text"
        placeholder="Search..."
        class="input input-primary input-bordered w-full max-w-xs mx-8"
      />
    </div>
    <div class="divider"></div>
    <div class="grid mx-8 grid-cols-3 gap-8">
      <ProjectCard
        name="ART"
        description="Make art no code"
        code="https://github.com/art-community"
      />
      <ProjectCard
        name="Dart Linux Interactor"
        description="Dart ❤️ Linux"
        documentation="https://antonbashir.github.io/dart-linux-interactor/"
        code="https://github.com/antonbashir/dart-linux-interactor/"
      />
      <ProjectCard
        name="Dart Reactive Transport"
        description="Dart ❤️ Rsocket"
        documentation="https://antonbashir.github.io/dart-reactive-transport/"
        code="https://github.com/antonbashir/dart-reactive-transport/"
      />
      <ProjectCard
        name="Dart IOUring Transport"
        description="Dart ❤️ IOUring"
        documentation="https://antonbashir.github.io/dart-iouring-transport/"
        code="https://github.com/antonbashir/dart-iouring-transport/"
      />
      <ProjectCard
        name="Dart Tarantool Storage"
        description="Dart ❤️ Tarantool"
        documentation="https://antonbashir.github.io/dart-tarantool-storage/"
        code="https://github.com/antonbashir/dart-tarantool-storage/"
      />
      <ProjectCard name="Lucifer" description="TODO" todo />
      <ProjectCard name="Eva" description="TODO" todo />
      <ProjectCard name="Adam" description="TODO" todo />
      <ProjectCard name="Angel" description="TODO" todo />
    </div>
  </body>
</html>
