---
interface Props {}

const {} = Astro.props;
---

<div class="flex place-content-center">
  <article class="prose prose-zinc max-w-none">
    <h1>Greetings</h1>
    <h2>My is Anton Bashirov and this is my personal site and blog</h2>
    <p>Text</p>
  </article>
</div>
