---
import "../styles/tab-button.css";
interface Props {
  page?: string;
}
const { page = "" } = Astro.props;
var activeButton = `tab-button-active`;
var inactiveButton = `tab-button`;
---

<div class="navbar pl-8 pr-8 pt-8">
  <div class="navbar-start">
    <div class="flex place-items-center place-content-center">
      <a href="/">
        <img
          width="64"
          height="64"
          src="https://img.icons8.com/external-justicon-flat-justicon/64/external-fox-christmas-avatar-justicon-flat-justicon.png"
          alt="external-fox-christmas-avatar-justicon-flat-justicon"
        />
      </a>
    </div>
  </div>
  <div class="navbar-center hidden lg:flex gap-8">
    <a class={page == "path" ? activeButton : inactiveButton} href="/path/">
      <span>Path</span>
      <div class="wave"></div>
    </a>
    <a
      class={page == "projects" ? activeButton : inactiveButton}
      href="/projects/"
    >
      <span>Projects</span>
      <div class="wave"></div>
    </a>
    <a class={page == "blog" ? activeButton : inactiveButton} href="/blog/">
      <span>Blog</span>
      <div class="wave"></div>
    </a>
    <a
      class={page == "contacts" ? activeButton : inactiveButton}
      href="/contacts/"
    >
      <span>Contacts</span>
      <div class="wave"></div>
    </a>
  </div>
  <div class="navbar-end"></div>
</div>
