---
interface Props {
  page?: string;
}
const { page = "" } = Astro.props;
var pathClass = `btn btn-wide btn-ghost`;
if (page == "path") pathClass += " btn-active";
var projectsClass = `btn btn-wide btn-ghost`;
if (page == "projects") projectsClass += " btn-active";
var contactsClass = `btn btn-wide btn-ghost`;
if (page == "contacts") contactsClass += " btn-active";
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <img src="/favicon.png" class="object-fill h-16 w-16" />
  </div>
  <div class="navbar-center hidden lg:flex gap-8">
    <a class={pathClass} href="/path/">Path</a>
    <a class={projectsClass} href="/projects/">Projects</a>
    <a class={contactsClass}>Contacts</a>
  </div>
  <div class="navbar-end"></div>
</div>
