---
import { CatAnimation } from "../components/Cat";
import "../styles/tab-button.css";
interface Props {
  page?: string;
}
const { page = "" } = Astro.props;
const activeButton = `tab-button-active`;
const inactiveButton = `tab-button`;
---

<div class="navbar">
  <div class="navbar-start">
    <a href="/">
      <CatAnimation client:load />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex gap-8">
    <a
      class={page == "experience" ? activeButton : inactiveButton}
      href="/experience/"
    >
      <span>Experience</span>
      <div class="wave"></div>
    </a>

    <a
      class={page == "projects" ? activeButton : inactiveButton}
      href="/projects/"
    >
      <span>Projects</span>
      <div class="wave"></div>
    </a>

    <a class={page == "blog" ? activeButton : inactiveButton} href="/blog/">
      <span>Blog</span>
      <div class="wave"></div>
    </a>

    <a
      class={page == "contact" ? activeButton : inactiveButton}
      href="/contact/"
    >
      <span>Contact</span>
      <div class="wave"></div>
    </a>
  </div>
  <div class="navbar-end"></div>
</div>
