---
import "../styles/tab-button.css";
import "../styles/home.css";
interface Props {
  page?: string;
}
const { page = "" } = Astro.props;
export const activeButton = `tab-button-active`;
export const inactiveButton = `tab-button`;
---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<div class="navbar place-content-between p-0 py-4">
  <div>
    <div class="hidden 2xl:flex typewriter px-4">
      <a href="/"><h1 class="text-3xl">Evolve. Always.</h1></a>
    </div>
    {
      page != "" && (
        <a class="btn btn-square mx-4 2xl:hidden" href="/">
          <span class="material-symbols-outlined">home</span>
        </a>
      )
    }
    {
      page === "" && (
        <div class="flex 2xl:hidden px-4 gap-2">
          <a class="btn btn-square" href="/experience">
            <svg
              width="100%"
              height="100%"
              viewBox="-256 -256 1536.00 1536.00"
              fill="#ffffff"
              class="icon"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <>
                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                <g id="SVGRepo_iconCarrier">
                  <path d="M722.081 962c-5.824 0-11.889-1.456-17.349-4.49-11.407-6.286-19.007-18.232-19.007-31.953 0-6.39 1.648-12.396 4.543-17.614 66.271-121.868 227.635-466.192 177.528-592.736-7.402-18.684-19.048-30.089-36.64-35.913-56.781-18.684-139.404 79.469-212.322 166.217-75.465 89.66-146.806 174.346-222.634 180.413-29.361 2.305-56.417-7.037-80.318-27.784-74.979-64.91-24.872-188.905 19.291-298.221 23.173-57.266 54.839-135.765 43.434-159.787-0.486-1.091-1.456-3.033-7.159-4.732-44.769-13.953-156.39 123.146-228.578 254.785-9.706 17.592-31.788 24.143-49.38 14.438-17.592-9.706-24.143-31.788-14.438-49.38 42.464-77.528 190.725-327.339 313.993-289.243 23.659 7.402 41.373 22.203 51.321 43.071 24.994 52.777-5.945 129.455-41.737 218.267-33.244 82.381-74.737 185.023-39.067 215.962 11.648 10.071 20.504 10.798 26.934 10.192 45.498-3.639 113.077-83.836 172.648-154.691 92.087-109.436 187.328-222.513 290.819-188.42 38.096 12.496 66.244 39.552 81.532 78.255 71.583 180.898-155.299 606.511-181.384 654.435-6.551 12.011-19.048 18.927-32.030 18.927z" />
                </g>
              </>
            </svg>
          </a>
          <a class="btn btn-square" href="/projects/">
            <svg
              width="100%"
              height="100%"
              viewBox="-6 -6 36.00 36.00"
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
            >
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <>
                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                <g id="SVGRepo_iconCarrier">
                  <>
                    <path d="M17 5V3H7v2H1v16h22V5zM8 4h8v1H8zm14 16H2V10h20zm0-11H2V6h20z" />
                    <path fill="none" d="M0 0h24v24H0z" />
                  </>
                </g>
              </>
            </svg>
          </a>
          <a class="btn btn-square" href="/blog/">
            <svg
              width="100%"
              height="100%"
              viewBox="-6 -6 36.00 36.00"
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
            >
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <>
                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                <g id="SVGRepo_iconCarrier">
                  <>
                    <path d="M22 7.662l1-1V18h-7v4.745L11.255 18H1V2h16.763l-1 1H2v14h9.668L15 20.331V17h7zm1.657-5.192a.965.965 0 0 1 .03 1.385l-9.325 9.324-4.097 1.755a.371.371 0 0 1-.487-.487l1.755-4.097 9.31-9.309a.98.98 0 0 1 1.385 0zm-10.1 9.965l-1.28-1.28-.961 2.24zm7.243-7.11l-1.414-1.413-6.469 6.47 1.414 1.413zm1.865-2.445l-.804-.838a.42.42 0 0 0-.6-.006l-1.168 1.168 1.414 1.415 1.152-1.152a.42.42 0 0 0 .006-.587z" />
                    <path fill="none" d="M0 0h24v24H0z" />
                  </>
                </g>
              </>
            </svg>
          </a>
          <a class="btn btn-square" href="/contact/">
            <svg
              width="100%"
              height="100%"
              viewBox="-6 -6 36.00 36.00"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <>
                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M10 9H17M10 13H17M7 9H7.01M7 13H7.01M21 20L17.6757 18.3378C17.4237 18.2118 17.2977 18.1488 17.1656 18.1044C17.0484 18.065 16.9277 18.0365 16.8052 18.0193C16.6672 18 16.5263 18 16.2446 18H6.2C5.07989 18 4.51984 18 4.09202 17.782C3.71569 17.5903 3.40973 17.2843 3.21799 16.908C3 16.4802 3 15.9201 3 14.8V7.2C3 6.07989 3 5.51984 3.21799 5.09202C3.40973 4.71569 3.71569 4.40973 4.09202 4.21799C4.51984 4 5.0799 4 6.2 4H17.8C18.9201 4 19.4802 4 19.908 4.21799C20.2843 4.40973 20.5903 4.71569 20.782 5.09202C21 5.51984 21 6.0799 21 7.2V20Z"
                    stroke="#ffffff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
              </>
            </svg>
          </a>
        </div>
      )
    }
  </div>
  <div class="hidden 2xl:flex navbar-center gap-4">
    {
      page != "" && (
        <a class="btn btn-square mx-4" href="/">
          <span class="material-symbols-outlined">home</span>
        </a>
      )
    }
    <a
      class={page == "experience" ? activeButton : inactiveButton}
      href="/experience/"
    >
      <span>Experience</span>
      <div class="wave"></div>
    </a>

    <a
      class={page == "projects" ? activeButton : inactiveButton}
      href="/projects/"
    >
      <span>Projects</span>
      <div class="wave"></div>
    </a>

    <a class={page == "blog" ? activeButton : inactiveButton} href="/blog/">
      <span>Blog</span>
      <div class="wave"></div>
    </a>

    <a
      class={page == "contact" ? activeButton : inactiveButton}
      href="/contact/"
    >
      <span>Contact</span>
      <div class="wave"></div>
    </a>
  </div>
  <div class="gap-4 mr-4">
    <div>
      <a href="https://github.com/antonbashir" target="_blank">
        <svg
          role="img"
          class="w-8 h-8 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>GitHub</title>
          <path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
          >
          </path>
        </svg>
      </a>
    </div>
  </div>
</div>
