<div class="navbar bg-base-100">
  <div class="navbar-start"></div>
  <div class="navbar-center hidden lg:flex gap-8">
    <button class="btn btn-wide btn-ghost">Path</button>
    <button class="btn btn-wide btn-ghost">Projects</button>
    <button class="btn btn-wide btn-ghost">Contacts</button>
  </div>
  <div class="navbar-end"></div>
</div>
